.tree li a{color: #fff;text-decoration: none;}
ol.tree{margin: 0 0 0 0;padding:0;}

.tree li 
	{ 
		position: relative; 
		
		/*margin-left: -15px;*/
		list-style: none;
		padding:5px;	
		/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #11d 0%, #111 53%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #222 0%, #111 53%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #222 0%, #111 53%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #222), color-stop(.53, #111));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #222 0%, #111 53%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #222 0%, #111 53%);
	}
	li.file
	{
		margin-left: -1px !important;
		
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	-o-text-overflow: ellipsis !important;
	-webkit-text-overflow: ellipsis !important;
	white-space: nowrap !important;
	color: #aaa;
	}
		li.file a
		{	
			background: url(document.png) 0 0 no-repeat;
			color: #fff;
			padding:0 5px 0 5px;
			
			display: block;
			
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			-webkit-text-overflow: ellipsis;
			background-color:#333;
		}
		/*li.file a[href *= '.pdf']	{ background: url(document.png) 0 0 no-repeat; }
		li.file a[href *= '.html']	{ background: url(document.png) 0 0 no-repeat; }
		li.file a[href $= '.css']	{ background: url(document.png) 0 0 no-repeat; }
		li.file a[href $= '.js']		{ background: url(document.png) 0 0 no-repeat; }
		*/
		li.file a:hover {text-decoration:underline;}
		li label a:hover {text-decoration:underline;}
		
		
	li input
	{
		position: absolute;
		left: 1px;
		margin-left: 3px;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		height: 1em;
		width: 1em;
		top: 7px;
	}
		li input + ol
		{
			background: url(/images/plus.png) 40px 0 no-repeat;
			margin: -0.938em 0 0 -44px; /* 15px */
			height: 1em;
		}
		li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
	li label
	{
		/*background: url(folder-horizontal.png) 15px 1px no-repeat;*/
		cursor: pointer;
		display: block;
		padding-left: 18px;padding-right: 2px;
		white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	font-weight:bold;color:#fff;width:auto;background-color:#222;
	
	}

	li input:checked + ol
	{
		background: url(/images/minus.png) 40px 5px no-repeat;
		margin: -1.25em 0 0 -44px; /* 20px */
		padding: 1.563em 0 0 80px;
		height: auto;
	}
		li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
		li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }
ol li a.select{color:#aac !important;}


